<!DOCTYPE html>
<html>
  <head>
    <title>Shaper Taper 🀺🁘🁊🁜 Generate repeatable Shaper Origin dominoes</title>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Stardos+Stencil"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="shaper-taper.css" />
  </head>

  <body>
    <svg height="0" width="0" style="display: none;">
      <defs>
        <rect
          id="domino_body"
          width="1.6666in"
          height="0.5in"
          rx="0.1in"
          style="fill: black; stroke-size: 0.01in; stroke: black;"
        />
        <circle id="domino_dot" cx="0" cy="0" r="0.05in" style="fill: white;" />
      </defs>
    </svg>

    <div id="app">
      <nav>
        <h2>Shaper Taper</h2>
        <p>
          Print out a regular sheet of paper with Shaper Origin compatible
          fudicial dominoes on it. Default presets are optimal for a 8x11" US
          letter.
        </p>
        <p>The dominoes generated will always match the Project Name.</p>
        <div class="options">
          <label>
            <input type="text" v-model="randomSeed" placeholder="random seed" />
            Project Name
          </label>
          <label>
            <input type="number" v-model="dominoCount" min="1" max="373" />
            Dominoes
          </label>
          <label>
            <input type="number" v-model="rowSpacing" min="1" size="1" />
            Row Spacing
          </label>
          <label>
            <input type="number" v-model="columnSpacing" min="1" size="1" />
            Column Spacing
          </label>
        </div>
      </nav>

      <h1>
        {{randomSeed}}
        <button class="print" onClick="window.print()">Print</button>
      </h1>

      <div
        class="domino-grid"
        :style="{ 'grid-column-gap': columnSpacing+'mm', 'grid-row-gap': rowSpacing+'mm'}"
      >
        <!-- <domino-template  dots="permutation[d]"/> -->
        <div v-for="d in permutation" class="domino">
          <svg width="2.02in" height="0.5in">
            <use xlink:href="#domino_body" x="0.01in" />
            <!-- dots that never go away -->
            <use xlink:href="#domino_dot" x="0.14in" y="0.16in" />
            <use xlink:href="#domino_dot" x="0.14in" y="0.35in" />
            <use xlink:href="#domino_dot" x="1.51in" y="0.16in" />
            <use xlink:href="#domino_dot" x="1.51in" y="0.35in" />

            <!-- row 1 (left to right) -->
            <use
              xlink:href="#domino_dot"
              x="0.335714in"
              y="0.16in"
              v-if="d[0][0]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.531428in"
              y="0.16in"
              v-if="d[0][1]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.727143in"
              y="0.16in"
              v-if="d[0][2]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.922857in"
              y="0.16in"
              v-if="d[0][3]"
            />
            <use
              xlink:href="#domino_dot"
              x="1.118571in"
              y="0.16in"
              v-if="d[0][4]"
            />
            <use
              xlink:href="#domino_dot"
              x="1.314286in"
              y="0.16in"
              v-if="d[0][5]"
            />

            <!-- row 2 (right to left) -->
            <use
              xlink:href="#domino_dot"
              x="1.314286in"
              y="0.35in"
              v-if="d[1][0]"
            />
            <use
              xlink:href="#domino_dot"
              x="1.118571in"
              y="0.35in"
              v-if="d[1][1]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.922857in"
              y="0.35in"
              v-if="d[1][2]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.7237143in"
              y="0.35in"
              v-if="d[1][3]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.5341428in"
              y="0.35in"
              v-if="d[1][4]"
            />
            <use
              xlink:href="#domino_dot"
              x="0.3345714in"
              y="0.35in"
              v-if="d[1][5]"
            />

            <!-- left to right version for visual debugging -->
            <!-- <use xlink:href="#domino_dot" x="0.3345714in" y="0.35in" v-if="d[1][0]"/>
        <use xlink:href="#domino_dot" x="0.5341428in" y="0.35in" v-if="d[1][1]"/>
        <use xlink:href="#domino_dot" x="0.7237143in" y="0.35in" v-if="d[1][2]"/>
        <use xlink:href="#domino_dot" x="0.922857in" y="0.35in" v-if="d[1][3]"/>
        <use xlink:href="#domino_dot" x="1.118571in" y="0.35in" v-if="d[1][4]"/>
        <use xlink:href="#domino_dot" x="1.314286in" y="0.35in" v-if="d[1][5]"/> -->
          </svg>
        </div>
      </div>
    </div>

    <script src="shaper-taper.js"></script>
  </body>
</html>
